{% extends "layout_unbranded.html" %}

{% block page_title %}
Details
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/incident-category">Back</a>

            <form class="form" action="/incident-description" method="post">

                <div class="form-group">
                    <label class="form-label-bold" for="incident-subtype">Please select a sub-category:</label>
                    <select class="form-control" id="incident-subtype" name="incident-subtype">
                        <option>Absconder / missing patient</option>
                        <option>Access / admission - delay / failure in access to hospital / care</option>
                        <option>Access / admission - unexpected readmission / reattendance</option>
                        <option>Access / admission - unplanned admission / transfer to specialist care unit</option>
                        <option>Discharge - delay / failure</option>
                        <option>Discharge - inappropriate</option>
                        <option>Discharge - planning failure</option>
                        <option>Discharge - self or against medical advice</option>
                        <option>Failure in referral process</option>
                        <option>Failure to return from authorised leave</option>
                        <option>Transfer - delay / failure / inappropriate</option>
                        <option>Transport - delay / failure</option>
                        <option>Unsafe / inappropriate clinical environment (including clinical waste)</option>
                        <option>Inappropriate admission / transfer of a minor to an adult setting</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
