{% extends "layout_unbranded.html" %}

{% block page_title %}
Details
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/incident-category">Back</a>

            <form class="form" action="/incident-description" method="post">

                <div class="form-group">
                    <label class="form-label-bold" for="incident-subtype">Please select a sub-category:</label>
                    <select class="form-control" id="incident-subtype" name="incident-subtype">
                        <option>Assessment - lack of clinical or risk assessment</option>
                        <option>Cross-matching error</option>
                        <option>Diagnosis - delay / failure to</option>
                        <option>Diagnosis - wrong</option>
                        <option>Scans / X-rays / specimens - inadequate / incomplete</option>
                        <option>Scans / X-rays / specimens - mislabelled / unlabelled</option>
                        <option>Scans / X-rays / specimens - missing</option>
                        <option>Scans / X-rays / specimens - wrong</option>
                        <option>Test results / reports - failure / delay to interpret or act on </option>
                        <option>Test results / reports - failure / delay to receive </option>
                        <option>Test results / reports - incorrect</option>
                        <option>Test results / reports - missing</option>
                        <option>Tests - failure / delay to undertake</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
