{% extends "layout_unbranded.html" %}

{% block page_title %}
Successful submission of incident
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="heading-large">
                    Thank you for recording your incident
                </h1>
                <p class="font-medium">
                    Your reference number is <br>
                    <strong class="bold">HDJ2123F</strong>
                </p>
            </div>

            <p>
                The details you entered have been successfully saved.
            </p>

            <h2 class="heading-medium">What happens next</h2>
            <p>We've sent your details to NHS Improvement.</p>
            <p>The information you have submitted will be used to contribute to wider learning.</p>
            <p><a href="https://www.smartsurvey.co.uk/s/IWZH8">What did you think of this service?</a> (takes 30 seconds)</p>

            <h2 class="heading-medium">More information online</h2>
            <ul class="list-bullet">
                <li><a href="#">Look at solutions to similar incidents</a></li>
                <li><a href="https://www.evidence.nhs.uk/" target="_blank">NHS Evidence</a> </li>
                <li><a href="https://www.nice.org.uk/guidance" target="_blank">National Institute for Health and Care Excellence</a> </li>
                <li><a href="https://improvement.nhs.uk/resources/patient-safety-alerts/" target="_blank">Patient Safety Alerts</a> </li>
                <li><a href="https://improvement.nhs.uk/improvement-hub/" target="_blank">NHS Improvement Hub</a> </li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}
