{% extends "layout_unbranded.html" %}

{% block page_title %}
Details
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/incident-subcategory">Back</a>

            <form class="form" action="/service-area" method="post">
                <!--<div class="form-group">
                    <fieldset>

                        <legend>
                            <span class="form-label-bold">Please categorise the Patient Safety Incident from the following choices:</span>
                        </legend>

                        <div class="multiple-choice" data-target="access">
                            <input id="incident-type-access" type="radio" name="incident-type" value="access">
                            <label for="incident-type-access">Access, admission, transfer, discharge (including missing patient)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-clinical-assessment" type="radio" name="incident-type" value="clinical assessment">
                            <label for="incident-type-clinical-assessment">Clinical assessment (including diagnosis, scans, tests, assessments)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-consent" type="radio" name="incident-type" value="consent">
                            <label for="incident-type-consent">Consent, communication, confidentiality</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-disruptive" type="radio" name="incident-type" value="disruptive">
                            <label for="incident-type-disruptive">Disruptive, aggressive behaviour (includes patient to patient)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-documentation" type="radio" name="incident-type" value="documentation">
                            <label for="incident-type-documentation">Documentation (including electronic & paper records, identification and charts)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-implementation" type="radio" name="incident-type" value="implementation">
                            <label for="incident-type-implementation">Implementation of care and ongoing monitoring / review</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-infection" type="radio" name="incident-type" value="infection">
                            <label for="incident-type-infection">Infection Control Incident</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-infrastructure" type="radio" name="incident-type" value="infrastructure">
                            <label for="incident-type-infrastructure">Infrastructure (including staffing, facilities, environment)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-device" type="radio" name="incident-type" value="device">
                            <label for="incident-type-device">Medical device / equipment</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-medication" type="radio" name="incident-type" value="medication">
                            <label for="incident-type-medication">Medication</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-abuse" type="radio" name="incident-type" value="abuse">
                            <label for="incident-type-abuse">Patient abuse (by staff / third party)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-accident" type="radio" name="incident-type" value="accident">
                            <label for="incident-type-accident">Patient accident</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-self-harm" type="radio" name="incident-type" value="self-harm">
                            <label for="incident-type-self-harm">Self-harming behaviour</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-treatment" type="radio" name="incident-type" value="treatment">
                            <label for="incident-type-treatment">Treatment, procedure</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-maternal" type="radio" name="incident-type" value="maternal">
                            <label for="incident-type-maternal">Maternal fetal neonatal incidents CNST triggers</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="incident-type-ulcer" type="radio" name="incident-type" value="ulcer">
                            <label for="incident-type-ulcer">Pressure ulcer</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice">
                            <input id="incident-type-other" type="radio" name="incident-type" value="other">
                            <label for="incident-type-other">Other</label>
                        </div>

                    </fieldset>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="incident-type">Please categorise the Patient Safety Incident from the following choices:</label>
                    <select class="form-control" id="incident-type" name="incident-type">
                        <option data-target="access">Access, admission, transfer, discharge (including missing patient)</option>
                        <option>Clinical assessment (including diagnosis, scans, tests, assessments)</option>
                        <option>Consent, communication, confidentiality</option>
                        <option>Disruptive, aggressive behaviour (includes patient to patient)</option>
                        <option>Documentation (including electronic & paper records, identification and charts)</option>
                        <option>Implementation of care and ongoing monitoring / review</option>
                        <option>Infection Control Incident</option>
                        <option>Infrastructure (including staffing, facilities, environment)</option>
                        <option>Medical device / equipment</option>
                        <option>Medication</option>
                        <option>Patient abuse (by staff / third party)</option>
                        <option>Patient accident</option>
                        <option>Self-harming behaviour</option>
                        <option>Treatment, procedure</option>
                        <option>Maternal fetal neonatal incidents CNST triggers</option>
                        <option>Pressure ulcer</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="access">
                    <div class="form-group">
                        <label class="form-label-bold" for="incident-subtype">Please select a sub-category:</label>
                        <select class="form-control" id="incident-subtype" name="incident-subtype">
                            <option>Absconder / missing patient</option>
                            <option>Access / admission - delay / failure in access to hospital / care</option>
                            <option>Access / admission - unexpected readmission / reattendance</option>
                            <option>Access / admission - unplanned admission / transfer to specialist care unit</option>
                            <option>Discharge - delay / failure</option>
                            <option>Discharge - inappropriate</option>
                            <option>Discharge - planning failure</option>
                            <option>Discharge - self or against medical advice</option>
                            <option>Failure in referral process</option>
                            <option>Failure to return from authorised leave</option>
                            <option>Transfer - delay / failure / inappropriate</option>
                            <option>Transport - delay / failure</option>
                            <option>Unsafe / inappropriate clinical environment (including clinical waste)</option>
                            <option>Inappropriate admission / transfer of a minor to an adult setting</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="form-label-bold" for="description">
                        Provide a narrative description of the risk/issue/concern:
                    </label>
                    <textarea class="form-control form-control-3-4" name="description" id="description" rows="5"></textarea>
                </div>


                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
