{% extends "layout_unbranded.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full form-group">
            <a class="link-back" href="/risk/patients">Back</a>

            <h1 class="heading-large">
                Check your answers before submitting your report
            </h1>


            <!-- only add a heading for a list if there is more than one list -->
            <h2 class="heading-medium">
                Risk details
            </h2>

            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->
            <dl class="govuk-check-your-answers cya-questions-short">

                <!-- Description -->
                <div>
                    <dt class="cya-question">
                        Description
                    </dt>
                    <dd class="cya-answer">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt lorem sit amet dui hendrerit dictum a sit amet leo. Quisque lobortis quam nisi, ac facilisis dui efficitur vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur hendrerit feugiat nunc, et malesuada ipsum tristique non. Aliquam erat volutpat. Sed elementum euismod nibh, a blandit ante. Proin semper viverra lacus, ut iaculis diam tempor in.
                    </dd>
                    <dd class="cya-change">
                        <a href="/description">
                            Change<span class="visually-hidden"> description</span>
                        </a>
                    </dd>
                </div>

                <!-- Theme -->
                <div>
                    <dt class="cya-question">
                        Theme
                    </dt>
                    <dd class="cya-answer">
                        Staffing, workload and capacity of services
                    </dd>
                    <dd class="cya-change">
                        <a href="/theme">
                            Change<span class="visually-hidden"> theme</span>
                        </a>
                    </dd>
                </div>

                <!-- Severity -->
                <div>
                    <dt class="cya-question">
                        Is there an imminent risk of death or severe harm?
                    </dt>
                    <dd class="cya-answer">
                        Maybe
                    </dd>
                    <dd class="cya-change">
                        <a href="/theme">
                            Change<span class="visually-hidden"> risk severity</span>
                        </a>
                    </dd>
                </div>

                <!-- Location -->
                <div>
                    <dt class="cya-question">
                        Where does this risk exist?
                    </dt>
                    <dd class="cya-answer">
                        Community Nursing
                    </dd>
                    <dd class="cya-change">
                        <a href="/theme">
                            Change<span class="visually-hidden"> risk location</span>
                        </a>
                    </dd>
                </div>

                <!-- At-risk population -->
                <div>
                    <dt class="cya-question">
                        Who is the at-risk population?
                    </dt>
                    <dd class="cya-answer">
                        Nunc tincidunt lorem sit amet dui hendrerit dictum a sit amet leo.
                    </dd>
                    <dd class="cya-change">
                        <a href="/theme">
                            Change<span class="visually-hidden"> at-risk population</span>
                        </a>
                    </dd>
                </div>

            </dl>

        </div>

        <div class="form-group column-full">
            <a href="/risk/confirmation" class="button">Confirm and submit</a>
        </div>


    </div>
</main>

{% endblock %}
