{% extends "layout_unbranded.html" %}

{% block page_title %}
Risk Questions
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/record-type">Back</a>

            <form class="form" action="/risk/theme" method="post">
                <div class="form-group">
                    <h1 class="heading-medium">
                        <label for="description">
                            Describe the risk
                        </label>
                    </h1>
                    <textarea class="form-control form-control-3-4" name="description" id="description" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
