{% extends "layout.html" %}

{% block page_title %}
Risk Questions
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/mds1">Back</a>

            <form class="form" action="/check-your-answers" method="post">
                <div class="form-group">
                    <label class="form-label-bold" for="risk-description">
                        Provide a narrative description of the risk:
                    </label>
                    <textarea class="form-control form-control-3-4" name="risk-description" id="risk-description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="risk-location">
                        Where does this risk exist?
                    </label>
                    <textarea class="form-control form-control-3-4" name="risk-location" id="risk-location" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="risk-time">
                        When might this risk manifest / what is the timeframe within which it could occur?
                    </label>
                    <textarea class="form-control form-control-3-4" name="risk-time" id="risk-time" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="risk-population">
                        Who is the at-risk population?
                    </label>
                    <textarea class="form-control form-control-3-4" name="risk-population" id="risk-population" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <fieldset>

                        <legend>
                            <span class="form-label-bold">Is age a specific risk factor in this issue?</span>
                        </legend>

                        <div class="multiple-choice">
                            <input id="record-type-1" type="radio" name="risk-age" value="Yes">
                            <label for="record-type-1">Yes</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice">
                            <input id="record-type-2" type="radio" name="risk-age" value="No">
                            <label for="record-type-2">No</label>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
