{% extends "layout_unbranded.html" %}

{% block page_title %}
Theme
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/risk/description">Back</a>

            <form class="form" action="/risk/severity" method="post">

                <div class="form-group">
                    <fieldset>

                        <legend>
                            <h1 class="heading-large">Please indicate the theme(s) of the risk:</h1>
                            <span class="body-text">Select all that apply</span>
                        </legend>

                        {% for theme in themes %}
                        <div class="multiple-choice">
                            <input id="{{ theme.id }}" name="risk-themes" type="checkbox" value="{{ theme.id }}">
                            <label for="{{ theme.id }}">{{ theme.name }}</label>
                        </div>
                        {% endfor %}

                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".enableChosen").chosen({
                inherit_select_classes: true,
                placeholder_text_multiple: 'Select one or more themes',
                width: 'none' // this breaks it on purpose so css takes over for responsive design
            });
        });
    </script>

</main>

{% endblock %}
