{% extends "layout_unbranded.html" %}

{% block page_title %}
Description
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/record-type">Back</a>

            <form class="form" action="/category" method="post">

                <div class="form-group">
                    <legend>
                        <h1 class="heading-medium">
                            <label for="description">Provide a narrative description of the {{ recordType }}:</label>
                        </h1>
                        <p class="form-hint">
                            Use this space to describe in your own words what happened. It is important that the information you provide is factual and not simply opinion.
                        </p>
                        <p class="form-hint">
                            Concentrate on the facts and describe the events in the sequence in which they occurred. Please do not include any patient confidential or person identifiable information, for example names or NHS numbers.
                        </p>
                    </legend>
                    <textarea class="form-control form-control-3-4" name="description" id="description" rows="5"></textarea>
                </div>


                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
