{% extends "layout_unbranded.html" %}

{% block page_title %}
DPSIMS Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                NHSI - DPSIMS - Alpha
            </h1>

            <p>Start page for launching prototypes for user testing as part of the NHSI DPSIMS project.</p>
            <p>As the alpha phase progresses, further iterations will be added to this page depending on the current priorities of the team</p>
            <p>Tagged releases can be found <a href="https://github.com/InformedSolutions/NHSI-DPSIMS-Alpha" target="_blank">here</a>. Speak to the team if you require access.</p>

            <h2 class="heading-medium">Epics</h2>
            <ul class="list list-bullet">
                <li>Online Incident Recording</li>
            </ul>

            <h2 class="heading-medium">Links to prototypes</h2>

            <form action="/selected-journey" method="post" class="form">
                <div class="form-group">
                    <input type="submit" class="button" name="button" value="Journey A - Select record type first">
                </div>
                <div class="form-group">
                    <input type="submit" class="button" name="button" value="Journey B - Select category first">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}


