{% extends "layout.html" %}

{% block page_title %}
Similar incidents | Clinical Review
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Have you considered these incidents?
                <span class="heading-secondary">Keywords: Vamin, TPN, Lipid, Parenteral Nutrition</span>
            </h1>
        </div>

        <div class="column-full">
            <table>
                <thead>
                <tr>
                    <th>#</th>  <th>Description</th> <th>Date Reported</th> <th>Organisation</th>  <th>Category</th> <th>Actions</th> <th></th> <th></th>
                </tr>
                </thead>
                <tbody>

                <!--- ROW 1 -->
                <tr>
                    <td class="incident_id"><a href="#" data-target="incident-190" onclick="javascript:toggleIncidentPanel(this);">190</a></td>
                    <td>Unable to secure night nurse for terminally ill patient. Marie Curie unable to cover for any nights . Patient family are having to carry out [..]</td>
                    <td>24th November 2017</td> <td>TH164</td> <td>Treatment / procedure - delay / failure</td> <td>-</td> <td></td>
                    <td><a href="/incident/review">Review</a> </td>
                </tr>

                <tr class="js-hidden" id="incident-190">
                    <td colspan="8">
                        <div class="column-full">
                            <h4 class="heading-small">Full description</h4>
                            <p>Unable to secure night nurse for terminally ill patient. Marie Curie unable to cover for any nights . Patient family are having to carry out
                                nursing care which is distressing as they are unsupported . Feel PCT are failing in dute of care for this lady and her family.</p>

                            <h4 class="heading-small">Date Occurred</h4>
                            <p>24th November 2017</p>

                            <h4 class="heading-small">Specialty</h4>
                            <p>Primary care/Community</p>

                            <h4 class="heading-small">Sub-specialty</h4>
                            <p>Community nursing</p>

                            <h4 class="heading-small">Care setting</h4>
                            <p>Community nursing, medical and therapy service (incl. community hospital)</p>
                        </div>
                    </td>
                </tr>

                <!--- ROW 2 -->
                <tr>
                    <td><a href="/view-incident?id=189">189</a></td> <td>TBC</td> <td>24th November 2017</td> <td>TH90</td> <td>Suicide/self harm</td> <td>-</td> <td></td>
                    <td><a href="#">Review</a> </td>
                </tr>

                <!--- ROW 3 -->
                <tr>
                    <td><a href="/view-incident?id=188">188</a></td> <td>TBC</td> <td>24th November 2017</td>  <td>TR80</td> <td>Eclampsia</td> <td>-</td> <td><p class="task-completed">Updated</p></td>
                    <td><a href="#">Review</a> </td>
                </tr>

                <!--- ROW 4 -->
                <tr>
                    <td><a href="/view-incident?id=187">187</a></td> <td>TBC</td> <td>23rd November 2017</td> <td>RI200</td> <td>Wrong device / equipment used</td> <td>For VRM</td> <td><p class="task-completed">Reviewed</p> </td>
                    <td></td>
                </tr>

                <!--- ROW 5 -->
                <tr>
                    <td><a href="/view-incident?id=186">186</a></td> <td>TBC</td> <td>23rd November 2017</td> <td>KL78</td> <td>Wrong device / equipment used</td> <td>-</td> <td></td>
                    <td><a href="#">Review</a> </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}


