{% extends "layout.html" %}

{% block page_title %}
Review incident | Record a patient safety incident
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <a href="/dashboard" class="link-back">Back</a>
        </div>
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Incident #190
                <p class="heading-secondary">Review</p>
            </h1>


            <form>
                <div class="form-group">
                    <label class="form-label-bold" for="theme">Theme</label>
                    <select class="form-control form-control-3-4" id="theme">
                        <option value="-1">Please select</option>

                        {%if  themes %}
                        {% for theme in themes %}
                            <option value="{{theme}}">{{theme}}</option>
                        {% endfor %}
                        {% else %}
                            <option value="1">Suicide/severe self harm</option>
                        {% endif %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label-bold" for="subtheme">Sub-theme</label>
                    <select class="form-control form-control-3-4" id="subtheme">
                        <option value="-1">Please select</option>

                        {%if  subthemes %}
                        {% for subtheme in subthemes %}
                        <option value="{{subtheme}}">{{subtheme}}</option>
                        {% endfor %}
                        {% else %}
                        <option value="1">Inpatient on premises</option>
                        <option value="2">Inpatient off premises</option>
                        <option value="2">Clearly current community patient</option>
                        {% endif %}
                    </select>
                </div>


                <div class="form-group">
                    <label class="form-label-bold" for="notes">Notes</label>
                    <textarea class="form-control form-control-3-4" id="notes" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <fieldset>
                        <div class="multiple-choice">
                            <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
                            <label for="waste-type-1">Flag for VRM</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Update">
                </div>
            </form>
        </div>
        <div class="column-one-third">
            <h3 class="heading-small">Additional actions</h3>
            <ul class="list">
                <li><a href="/incident/list-similar">View similar incidents</a></li>
                <li><a href="#">Deep dive</a></li>
                <li><a href="#">View incident review history</a></li>
            </ul>

        </div>
        <div class="column-full">

            <table>
                <thead>
                <tr>
                    <th>#</th>  <th>Description</th> <th>Date Reported</th> <th>Organisation</th>  <th>Category</th> <th>Actions</th> <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="incident_id"><a href="#" data-target="incident-190" onclick="javascript:toggleIncidentPanel(this);">190</a></td>
                    <td>Unable to secure night nurse for terminally ill patient. Marie Curie unable to cover for any nights . Patient family are having to carry out [..]</td>
                    <td>24th November 2017</td> <td>TH164</td> <td>Treatment/procedure - delay/failure</td> <td>-</td> <td></td>

                </tr>

                <tr class="js-hidden" id="incident-190">
                    <td colspan="7">
                        <div class="column-full">
                            <h4 class="heading-small">Full description</h4>
                            <p>Unable to secure night nurse for terminally ill patient. Marie Curie unable to cover for any nights . Patient family are having to carry out
                                nursing care which is distressing as they are unsupported . Feel PCT are failing in dute of care for this lady and her family.</p>

                            <h4 class="heading-small">Date Occurred</h4>
                            <p>24th November 2017</p>

                            <h4 class="heading-small">Specialty</h4>
                            <p>Primary care/Community</p>

                            <h4 class="heading-small">Sub-specialty</h4>
                            <p>Community nursing</p>

                            <h4 class="heading-small">Care setting</h4>
                            <p>Community nursing, medical and therapy service (incl. community hospital)</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>

{% endblock %}


