{% extends "layout_unbranded.html" %}

{% block page_title %}
Theme
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/description">Back</a>

            <form class="form" action="/never-event" method="post">
                <div class="form-group">
                    <h1 class="heading-large">
                        <label for="theme">
                            Theme(s) of the {{ recordType }}:
                            <span class="form-hint">
                                Select all that apply
                            </span>
                        </label>
                    </h1>
                    <select multiple="true" class="form-control form-control-3-4 enableChosen" id="theme" name="theme">
                        {% for theme in themes %}
                                <option>{{ theme.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".enableChosen").chosen({
                inherit_select_classes: true,
                placeholder_text_multiple: 'Select one or more themes',
                width: 'none' // this breaks it on purpose so css takes over for responsive design
            });
        });
    </script>

    <!--<script type="text/javascript">
        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            selectElement: document.querySelector('#theme')
        })
    </script>-->
</main>

{% endblock %}
