{% extends "layout_unbranded.html" %}

{% block page_title %}
Never Event
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/category">Back</a>

            <form class="form" action="/level-of-harm" method="post">


                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">
                                Was this a never event?
                            </h1>
                        </legend>

                        <div class="multiple-choice" data-target="never-event-type">
                            <input id="never-event-yes" type="radio" name="never-event" value="yes">
                            <label for="never-event-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="never-event-no" type="radio" name="never-event" value="no">
                            <label for="never-event-no">No</label>
                        </div>

                    </fieldset>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="never-event-type">

                        <div class="form-group">

                            <fieldset>
                                <legend>
                                    <h1 class="heading-medium">
                                        Please select the type of never event that occurred:
                                    </h1>
                                    <p class="form-hint">
                                        Select one
                                    </p>

                                </legend>

                                <div class="multiple-choice">
                                    <input id="never-event-type-1" type="radio" name="never-event-type" value="wrong-site">
                                    <label for="never-event-type-1">
                                        Wrong site surgery
                                    </label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="never-event-type-2" type="radio" name="never-event-type" value="wrong-implant">
                                    <label for="never-event-type-2">Wrong implant/prosthesis</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="never-event-type-3" type="radio" name="never-event-type" value="foreign-object">
                                    <label for="never-event-type-3">Retained foreign object post-procedure</label>
                                </div>
                                <p class="form-block">or</p>
                                <div class="multiple-choice">
                                    <input id="never-event-type-4" type="radio" name="never-event-type" value="potassium">
                                    <label for="never-event-type-4">Mis-selection of a strong potassium containing solution</label>
                                </div>

                            </fieldset>

                        </div>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
