{% extends "layout_unbranded.html" %}

{% block page_title %}
Never Event
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            {% if recordType != "outcome" %}
                <a class="link-back" href="/theme">Back</a>
            {% else %}
                <a class="link-back" href="/description">Back</a>
            {% endif %}

            {%if (err) %}
            <div class="error-summary" id="error-details" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    Please check the form
                </h2>
                <div id="all-errors">
                    <ul class="error-summary-list nopadding">
                        {% if (err)  %}
                        <li><a href="#was-never-event-group">{{ err }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}


            <form class="form" action="/selected-never-event" method="post">

                <div class="form-group {% if (err) %} error {% endif %}" id="was-never-event-group">

                    <fieldset class="inline">
                        <legend>
                            <h1 class="heading-large">
                                Was this a Never Event?
                                <div class="{% if (err) %} show {%  else  %}hide{% endif %}">
                               <span class="error-message">
                                    {% if (err) %}
                                    {{ err }}
                                    {% endif %}
                               </span>
                                </div>
                            </h1>
                        </legend>

                        <div class="multiple-choice" data-target="never-event-type">
                            <input id="never-event-yes" type="radio" name="never-event" value="yes">
                            <label for="never-event-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="never-event-no" type="radio" name="never-event" value="no">
                            <label for="never-event-no">No</label>
                        </div>

                    </fieldset>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="never-event-type">

                        <div class="form-group">
                            <label for="never-event-type-select" class="form-label-bold">What type of Never Event was it?</label>
                            <select id="never-event-type-select" name="never-event-type-select" class="form-control form-control-3-4" placeholder="Please select">
                                <option value="" disabled selected>Please select from the list</option>
                                <option>Wrong site surgery</option>
                                <option>Wrong implant/prosthesis</option>
                                <option>Retained foreign object post-procedure</option>
                                <option>Mis-selection of a strong potassium containing solution</option>
                                <option>Administration of medication by the wrong route</option>
                                <option>Overdose of insulin due to abbreviations or incorrect device</option>
                                <option>Overdose of methotrexate for non-cancer treatment</option>
                                <option>Mis-selection of high strength midazolam during conscious sedation</option>
                                <option>Failure to install functional collapsible shower or curtain rails</option>
                                <option>Falls from poorly restricted windows</option>
                                <option>Chest or neck entrapment in bed rails</option>
                                <option>Transfusion or transplantation of ABO-incompatible blood components or organs</option>
                                <option>Misplaced naso- or oro-gastric tubes</option>
                                <option>Scalding of patients</option>
                                <option>Unintentional connection of a patient requiring oxygen to an air flowmeter</option>
                                <option>Undetected oesophageal intubation</option>

                            </select>
                        </div>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
