{% extends "layout.html" %}

{% block page_title %}
Dashboard | Clinical Review
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="floatright">Welcome, Wayne (<a href="#">Log out</a>)</div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Incidents for review
                <span class="heading-secondary">w/c 4th December 2017</span>
            </h1>
        </div>
        <div class="column-full">

            <form>
                <div class="form-group">
                    <fieldset class="inline">

                        <legend>
                            <h1 class="bold-small">
                                Filters & Search
                            </h1>
                        </legend>

                        <div class="multiple-choice">
                            <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="date_reported">
                            <label for="radio-inline-1">Date Reported</label>
                        </div>
                        <div class="multiple-choice" data-target="organisation-filter">
                            <input id="radio-inline-2" type="checkbox" name="radio-inline-group" value="organisation">
                            <label for="radio-inline-2">Organisation</label>
                        </div>


                        <div class="multiple-choice" data-target="category-filter">
                            <input id="radio-inline-3" type="checkbox" name="radio-inline-group" value="category">
                            <label for="radio-inline-3">Theme(s)</label>
                        </div>

                        <label for="search-box" class="js-hidden">Search</label>
                        <input class="form-control form-control-1-4" type="search" id="search-box" placeholder="Type here to search">
                        <a class="button">Search</a>


                        <div class="panel panel-border-narrow js-hidden" id="organisation-filter">
                            <label class="form-label" for="organisations">Organisations</label>
                            <select id="organisations" class="form-control">
                                <option>TH164</option>
                                <option>TH90</option>
                                <option>TR80</option>
                                <option>RI200</option>
                                <option>KL78</option>
                            </select>
                        </div>

                        <div class="panel panel-border-narrow js-hidden" id="category-filter">
                            <label class="form-label" for="categories">Theme(s)</label>
                            <select id="categories" class="form-control">
                            {%if  themes %}
                            {% for theme in themes %}
                            <option value="{{theme.id}}">{{theme.name}}</option>
                            {% endfor %}
                            {% endif %}
                            </select>
                        </div>

                    </fieldset>
                </div>
            </form>

            <table>
                <thead>
                <tr>
                    <th>#</th>  <th>Description</th> <th>Date Reported</th> <th>Organisation</th>  <th>Theme(s)</th> <th>Actions</th> <th></th> <th></th>
                </tr>
                </thead>
                <tbody>

                <!--- ROW 1 -->
                <tr>
                    <td class="incident_id"><a href="#" data-target="incident-190" onclick="javascript:toggleIncidentPanel(this);">190</a></td>
                    <td>Unable to secure night nurse for terminally ill patient. Marie Curie unable to cover for any nights . Patient family are having to carry out [..]</td>
                    <td>24th November 2017</td> <td>TH164</td> <td>Implementation of care and ongoing monitoring/review</td> <td>-</td> <td></td>
                    <td class="last-column"><a href="/incident/review">Review</a> </td>
                </tr>

                <tr class="js-hidden" id="incident-190">
                    <td colspan="8">
                        <div class="column-full">
                            <h4 class="heading-small">Full description</h4>
                            <p>Unable to secure night nurse for terminally ill patient. Marie Curie unable to cover for any nights . Patient family are having to carry out
                            nursing care which is distressing as they are unsupported . Feel PCT are failing in dute of care for this lady and her family.</p>

                            <h4 class="heading-small">Date Occurred</h4>
                            <p>24th November 2017</p>

                            <h4 class="heading-small">Level of harm</h4>
                            <p>Severe</p>

                            <h4 class="heading-small">Service area</h4>
                            <p>Community Hospital</p>

                            <h4 class="heading-small">Care setting</h4>
                            <p>Community nursing, medical and therapy service (incl. community hospital)</p>

                            <h4 class="heading-small">Was it a Never Event?</h4>
                            <p>No</p>

                            <h4 class="heading-small">Patient's date of birth</h4>
                            <p>13th March 1943</p>

                            <h4 class="heading-small">Patient's gender</h4>
                            <p>Female</p>
                        </div>
                    </td>
                </tr>

                <!--- ROW 2 -->
                <tr>
                    <td><a href="/view-incident?id=189">189</a></td> <td>TBC</td> <td>24th November 2017</td> <td>TH90</td> <td>Self-harming behaviour</td> <td>-</td> <td></td>
                    <td class="last-column"><a href="#">Review</a> </td>
                </tr>

                <!--- ROW 3 -->
                <tr>
                    <td><a href="/view-incident?id=188">188</a></td> <td>TBC</td> <td>24th November 2017</td>  <td>TR80</td> <td>IT system failure</td> <td>-</td> <td><p class="task-completed">Updated</p></td>
                    <td class="last-column"><a href="#">Review</a> </td>
                </tr>

                <!--- ROW 4 -->
                <tr>
                    <td><a href="/view-incident?id=187">187</a></td> <td>TBC</td> <td>23rd November 2017</td> <td>RI200</td> <td>Medical device or equipment</td> <td>For VRM</td> <td><p class="task-completed">Reviewed</p> </td>
                    <td class="last-column"><a href="#">View</a> </td>
                </tr>

                <!--- ROW 5 -->
                <tr>
                    <td><a href="/view-incident?id=186">186</a></td> <td>TBC</td> <td>23rd November 2017</td> <td>KL78</td> <td>Medication</td> <td>-</td> <td></td>
                    <td class="last-column"><a href="#">Review</a> </td>
                </tr>

                </tbody>
            </table>
            <div class="pagination">
                Showing 5 of 24 incidents
                <ul class="list">
                    <li>1</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div>
    </div>
    {{other}}
</main>

{% endblock %}


