{% extends "layout_unbranded.html" %}

{% block page_title %}
Level of harm
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/never-event">Back</a>
            <form class="form" action="/date" method="post">
                <div class="form-group">
                    <fieldset class="inline">

                        <legend>
                            <h1 class="heading-large">Did the patient die?</h1>
                        </legend>

                        <div class="multiple-choice">
                            <input id="death-yes" type="radio" name="death" value="Yes">
                            <label for="death-yes">Yes</label>
                        </div>
                        <div class="multiple-choice" data-target="level-of-harm">
                            <input id="death-no" type="radio" name="death" value="No">
                            <label for="death-no">No</label>
                        </div>

                    </fieldset>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="level-of-harm">
                    <div class="form-group">
                        <fieldset>
                            <legend>
                                <span class="form-label-bold">Using the following grading, please indicate the degree of harm to the patient:</span>



                            </legend>

                            <div class="multiple-choice">
                                <input id="level-of-harm-1" type="radio" name="level-of-harm" value="No harm">
                                <label for="level-of-harm-1">No harm</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="level-of-harm-2" type="radio" name="level-of-harm" value="Low">
                                <label for="level-of-harm-2">Low</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="level-of-harm-3" type="radio" name="level-of-harm" value="Moderate">
                                <label for="level-of-harm-3">Moderate</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="level-of-harm-4" type="radio" name="level-of-harm" value="Severe">
                                <label for="level-of-harm-4">Severe</label>
                            </div>

                        </fieldset>
                    </div>
                    <details>
                        <summary><span class="summary">How do I classify level of harm?</span></summary>
                        <div class="panel panel-border-narrow">
                            <p class="body-text">
                                A patient safety incident can be defined as any unintended or unexpected incident which could have or did lead to harm for one or more patients receiving NHS funded healthcare.
                            </p>
                            <p class="body-text">
                                The National Reporting and Learning System terms and definitions for grading of Patient Safety Incidents is summarised in the table below:
                            </p>
                            <p>
                            <table>
                                <tr>
                                    <th><span class="bold">No harm</span></th>
                                    <td>Any patient safety incident that did not result in harm or injury. Any patient safety incident with the potential to cause harm, that was prevented from happening, therefore no harm or injury was caused.</td>
                                </tr>
                                <tr>
                                    <th><span class="bold">Low</span></th>
                                    <td> Any patient safety incident that required extra observation or minor treatment.</td>
                                </tr>
                                <tr>
                                    <th><span class="bold">Moderate</span> </th>
                                    <td>Any patient safety incident that resulted in a moderate increase in treatment and which caused significant but not permanent harm.</td>
                                </tr>
                                <tr>
                                    <th><span class="bold">Severe</span></th>
                                    <td>Any patient safety incident that appears to have resulted in permanent harm.</td>
                                </tr>
                            </table>
                            </p>
                            <p class="body-text">
                                The full definitions of harm from Seven Steps to Patient Safety, can be found at the url:

                                <a href="http://www.nrls.nhs.uk/resources/collections/seven-steps-to-patient-safety/?entryid45=59787">http://www.nrls.nhs.uk/resources/collections/seven-steps-to-patient-safety/?entryid45=59787</a>
                            </p>
                        </div>
                    </details>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
