{% extends "layout.html" %}

{% block page_title %}
Level of harm
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/mds1">Back</a>
            <form class="form" action="/mds3" method="post">
                <div class="form-group">
                    <fieldset>

                        <legend>
                            <span class="form-label-bold">Did the patient die?</span>
                        </legend>

                        <div class="multiple-choice">
                            <input id="death-yes" type="radio" name="death" value="Yes">
                            <label for="death-yes">Yes</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice" data-target="outcome">
                            <input id="death-no" type="radio" name="death" value="No">
                            <label for="death-no">No</label>
                        </div>

                    </fieldset>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="outcome">
                    <div class="form-group">
                        <label class="form-label-bold" for="risk-description">
                            What is the status/outcome/location of the patient now?
                        </label>
                        <textarea class="form-control form-control-3-4" name="risk-description" id="risk-description" rows="5"></textarea>
                    </div>

                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
