{% extends "layout_unbranded.html" %}

{% block page_title %}
Details
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/incident-time">Back</a>

            <form class="form" action="/check-your-answers" method="post">
                <div class="form-group">
                    <label class="form-label-bold" for="patient">
                        To whom did it happen?
                    </label>
                    <textarea class="form-control form-control-3-4" name="patient" id="patient" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label for="patient-age" class="form-label-bold">What was the age of the patient?</label>
                    <input class="form-control" id="patient-age" name="patient-age" type="number" pattern="[0-9]*" min="0">
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
