{% extends "layout_unbranded.html" %}

{% block page_title %}
Record Type
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/incident-recorder">Back</a>
            <form class="form" action="/selected-type" method="post">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">
                                Do you want to record and share:
                            </h1>
                            <p class="form-hint">
                                Select one
                            </p>

                        </legend>

                        <div class="multiple-choice">
                            <input id="record-type-1" type="radio" name="record-type" value="incident">
                            <label for="record-type-1">
                                A patient safety incident
                                <span class="form-hint">
                                    Any unintended or unexpected incident which could have or did lead to harm for one or more patients
                                </span>
                            </label>

                        </div>
                        <div class="multiple-choice">
                            <input id="record-type-2" type="radio" name="record-type" value="outcome">
                            <label for="record-type-2">
                                An unexpected poor outcome which may have involved safety issues
                                <span class="form-hint">
                                    When it is not yet known if a patient safety incident might have contributed, and further work is required to understand this
                                </span>
                            </label>
                        </div>
                        <div class="multiple-choice">
                            <input id="record-type-3" type="radio" name="record-type" value="risk">
                            <label for="record-type-3">
                                A risk to patient safety
                                <span class="form-hint">
                                    An issue with the capacity to endanger patients that could or will happen in the future
                                </span>
                            </label>

                        </div>

                    </fieldset>
                </div>


                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
