{% extends "layout_unbranded.html" %}

{% block page_title %}
Record Type
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/">Back</a>
            <form class="form" action="/selected-type" method="post">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">
                                Do you want to record and share:
                            </h1>
                            <p class="form-hint">
                                Select one
                            </p>

                        </legend>

                        <div class="multiple-choice">
                            <input id="record-type-1" type="radio" name="record-type" value="incident">
                            <label for="record-type-1">
                                A patient safety incident
                                <span class="form-hint">
                                    A patient safety incident can be defined as any unintended or unexpected incident which could have or did lead to harm for one or more patients receiving NHS funded healthcare.
                                </span>
                            </label>

                        </div>
                        <div class="multiple-choice">
                            <input id="record-type-2" type="radio" name="record-type" value="outcome">
                            <label for="record-type-2">A poor outcome where a patient safety incident might have contributed</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice">
                            <input id="record-type-3" type="radio" name="record-type" value="risk">
                            <label for="record-type-3">A threat to patient safety that could or will happen in the future</label>
                        </div>

                    </fieldset>
                </div>


                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
