{% extends "layout_unbranded.html" %}

{% block page_title %}
Record Type
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/">Back</a>
            <form class="form" action="/selected-type" method="post">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">
                                What do you want to record?
                            </h1>
                            <p class="body-text">
                                Select one
                            </p>

                        </legend>

                        <div class="multiple-choice">
                            <input id="record-type-1" type="radio" name="record-type" value="incident">
                            <label for="record-type-1">A patient safety incident (an event) that could have or did lead to patient harm</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="record-type-2" type="radio" name="record-type" value="outcome">
                            <label for="record-type-2">A poor outcome where a patient safety incident might have contributed</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice">
                            <input id="record-type-3" type="radio" name="record-type" value="risk">
                            <label for="record-type-3">A threat to patient safety that could or will happen in future</label>
                        </div>

                    </fieldset>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="level-of-harm">

                    <div class="form-group">
                        <fieldset class="inline">

                            <legend>
                                <h1 class="heading-medium">
                                    Do you already have a personal user account?
                                </h1>
                            </legend>

                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                                <label for="radio-inline-1">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                                <label for="radio-inline-2">No</label>
                            </div>

                        </fieldset>
                    </div>

                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
