{% extends "layout_unbranded.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full form-group">
            <!--<a href="/mds3" class="link-back">Back</a>-->

            <h1 class="heading-large">
                Check your answers before submitting your report
            </h1>


            <!-- only add a heading for a list if there is more than one list -->
            <h2 class="heading-medium">
                {{recordType}} details
            </h2>

            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->
            <dl class="govuk-check-your-answers cya-questions-short">

                <!-- Description -->
                <div>
                    <dt class="cya-question">
                        Description
                    </dt>
                    <dd class="cya-answer">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt lorem sit amet dui hendrerit dictum a sit amet leo. Quisque lobortis quam nisi, ac facilisis dui efficitur vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur hendrerit feugiat nunc, et malesuada ipsum tristique non. Aliquam erat volutpat. Sed elementum euismod nibh, a blandit ante. Proin semper viverra lacus, ut iaculis diam tempor in.
                    </dd>
                    <dd class="cya-change">
                        <a href="/description">
                            Change<span class="visually-hidden"> description</span>
                        </a>
                    </dd>
                </div>

                <!-- Theme -->
                <div>
                    <dt class="cya-question">
                        Theme
                    </dt>
                    <dd class="cya-answer">
                        Medical device or equipment
                    </dd>
                    <dd class="cya-change">
                        <a href="/theme">
                            Change<span class="visually-hidden"> description</span>
                        </a>
                    </dd>
                </div>

                <!-- Is it a Never Event -->
                <div>
                    <dt class="cya-question">
                        Was it a Never Event?
                    </dt>
                    <dd class="cya-answer">
                        No
                    </dd>
                    <dd class="cya-change">
                        <a href="/theme">
                            Change<span class="visually-hidden"> never event details</span>
                        </a>
                    </dd>
                </div>

                <!-- Date of incident -->
                <div>
                    <dt class="cya-question">
                        Date of {{recordType.toLowerCase()}}
                    </dt>
                    <dd class="cya-answer">
                        11 November 2017
                    </dd>
                    <dd class="cya-change">
                        <a href="/date">
                            Change<span class="visually-hidden"> date of the incident</span>
                        </a>
                    </dd>
                </div>
            </dl>


            <h2 class="heading-medium">
                Patient details
            </h2>


            <!-- Did the patient die? -->
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Did the patient die?
                    </dt>
                    <dd class="cya-answer">
                        No
                    </dd>
                    <dd class="cya-change">
                        <a href="/level-of-harm/{{recordType}}">
                            Change<span class="visually-hidden"> did the patient die</span>
                        </a>
                    </dd>
                </div>

                <!-- Level of harm -->
                <div>
                    <dt class="cya-question">
                        Level of harm
                    </dt>
                    <dd class="cya-answer">
                        Moderate
                    </dd>
                    <dd class="cya-change">
                        <a href="/level-of-harm/{{recordType}}">
                            Change<span class="visually-hidden"> level of harm</span>
                        </a>
                    </dd>
                </div>


                <!-- Date of birth or age -->
                <div>
                    <dt class="cya-question">
                        Date of birth or age
                    </dt>
                    <dd class="cya-answer">
                        18 April 1991
                    </dd>
                    <dd class="cya-change">
                        <a href="/patient">
                            Change<span class="visually-hidden"> patient's date of birth or age</span>
                        </a>
                    </dd>
                </div>

                <!-- Gender -->
                <div>
                    <dt class="cya-question">
                        Gender
                    </dt>
                    <dd class="cya-answer">
                        Female
                    </dd>
                    <dd class="cya-change">
                        <a href="/patient/gender">
                            Change<span class="visually-hidden"> patient gender</span>
                        </a>
                    </dd>
                </div>

            </dl>

        </div>

        <div class="form-group column-full">
            <a href="/confirmation" class="button">Confirm and submit</a>
        </div>


    </div>
</main>

{% endblock %}
