{% extends "layout_unbranded.html" %}

{% block page_title %}
Details
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="/category">Back</a>

            <form class="form" action="/selected-subcategory" method="post">

                <div class="form-group">
                    <legend>
                        <h1 class="heading-medium">
                            <label for="subcategory">Which sub-category does the {{ recordType }} belong to?</label>
                        </h1>
                        <p class="form-hint">
                            Start typing to search for sub-categories
                        </p>
                    </legend>

                    <select class="form-control" id="subcategory" name="subcategory">
                        <option value="">Select a subcategory</option>
                        {% for subCategory in subCategories %}
                            {% if ((subCategory.type === recordType) or (journey === "B") or (recordType === "incident")) %}
                                <option>{{ subCategory.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
    <script type="text/javascript">
        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            selectElement: document.querySelector('#subcategory')
        })
    </script>
</main>

{% endblock %}
